@use "./settings";
@use "vuetify";

@layer vuetify-core.reset {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}

.background-constellation {
  background-image: url("./assets/endless-constellation.svg");
  background-repeat: repeat;
  background-color: #330033;
}

.noise-background {
  background-image: url("./assets/noise.png") !important;
  background-repeat: repeat;
}
