@use "./settings";
@use "vuetify";

.background-constellation {
  background-image: url("./assets/endless-constellation.svg");
  background-repeat: repeat;
  background-color: #330033;
}

.noise-background {
  background-image: url("./assets/noise.png") !important;
  background-repeat: repeat;
}
